$hover-color:#E950D0;
$text-color:#fff;
$color-logo:#FF1B6D;
$br-color:#0c006a;
$button-color:#1a08a1;
$bg-card-color:#efefef;
$headding-color:#000;
$card-bg:#C7A267;

$padding-large:30px;
$padding-medium:20px;
$padding-regular:15px;
$padding-small:10px;

$margin-bold:40px;
$margin-large:30px;
$margin-medium:20px;
$margin-small:10px;

$font-bold:40px;
$font-medium:30px;
$font-regelur:22px;
$font-regelur-1:20px;
$font-small:18px;

$radius-medium:30px;
$radius-regelur:15px;
$radius-small: 5px;